main{
    min-height: 100vh;
    padding-top: 50px;

}

main h1{
    margin-bottom: 20px;
    text-align: center;
}

.form{
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form input{
    margin-right: 20px;
    max-width: 600px;
}
.list .list-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pagination{
    margin-top: 30px;
    justify-content: center;
}